.carousel-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #b5d6b2;
    font-weight: bold;
    font-size: 22px
}

.carousel-img { 
    max-width: 350px;
    max-height: 525px;
    /* min-width: 90px; */
   /*  min-height: 144px */
}

.carousel-selected {
    cursor: pointer;
}

